{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block body %}
<div class="d-flex flex-row justify-content-center align-items-center" style="height: 100%">
  <div style="padding-bottom: 200px;">
    <div>
     <img src="/avatar.png" height="200" alt="me">
    </div>
    <div class="fs-3 text-center mt-3">
      <a href="https://github.com/calder" title="Github" style="color: black; padding: 0.5rem;"><i class="fa-brands fa-github"></i></a>
      <a href="https://x.com/caldercoalson" title="Twitter" style="color: black; padding: 0.5rem;"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://linkedin.com/in/caldercoalson" title="LinkedIn" style="color: black; padding: 0.5rem;"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</div>
{% endblock body %}
