html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-size-adjust: none;
}

.footnotes {
    font-size: 80%;
    margin-top: 5em;
    padding-bottom: 1em;
}

.footnotes ol {
    margin: 0;
    padding-left: 1em;
}

.footnotes p {
    margin-bottom: 0.5em;
}

.footnote-backref {
    display: none;
}
